# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/gealenac/nodexxi"
PassengerBaseURI "/"
PassengerNodejs "/home/gealenac/nodevenv/nodexxi/8/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
